{% extends 'base.html' %}

{% block titulo %} Noticias {% endblock titulo %}

{% block contenido %}

<section class="container my-4">
    {% if user.is_authenticated %}
    <div class="mb-4 text-end">
        <a href="{% url 'nuevo_post' %}" class="btn btn-primary">Nuevo Post</a>
    </div>
    <hr>
    {% endif %}

    <!-- Filtros -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <a href="?ordenar=fecha" class="btn btn-outline-secondary me-2">Ordenar por fecha</a>
            <a href="?ordenar=alfabetico" class="btn btn-outline-secondary">Ordenar alfabéticamente</a>
        </div>
        <div>
            <a href="{% url 'noticias' %}" class="btn btn-outline-secondary me-2">Todas</a>
            {% for categoria in categorias %}
            <a href="?categoria={{categoria.nombre}}" class="btn btn-outline-secondary me-2">{{categoria.nombre}}</a>
            {% endfor %}
        </div>
    </div>
    <hr>
</section>

<!-- Noticias -->
<div class="container">
    <h1 class="mb-4">Noticias</h1>

    <div class="row">
        {% for noticia in object_list %}
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <!-- Hacer clic en la imagen redirige al detalle -->
                <a href="{% url 'detalle' noticia.id %}">
                    <img src="{{ noticia.imagen1.url }}" class="card-img-top" alt="{{ noticia.titulo }}" style="height: 200px; object-fit: cover;">
                </a>
                <div class="card-body">
                    <!-- Hacer clic en el título redirige al detalle -->
                    <a href="{% url 'detalle' noticia.id %}" class="text-decoration-none text-dark">
                        <h5 class="card-title">{{ noticia.titulo }}</h5>
                    </a>
                    <p class="card-text">{{ noticia.contenido | truncatechars:100 }} <a href="{% url 'detalle' noticia.id %}">ver más...</a></p>
                    <p class="text-muted"><small>Publicado el {{ noticia.fecha_publicacion }}</small></p>
                </div>
                <div class="card-footer text-muted">
                    <a href="?autor={{noticia.autor}}" class="text-secondary"><small>{{ noticia.autor }}</small></a>
                    <p class="mb-0"><small>Categoría: {{noticia.categoria}}</small></p>
                </div>
                {% if user.id == noticia.autor_id or user.is_superuser%}
                <div class="card-footer text-end">
                    <a href="{% url 'eliminar_post' noticia.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock contenido %}
